{% set isSelection = isSelection ?? false %}
{% set index = index ?? 1 %}
{% set title = title ?? ('Фільтр ' ~ index) %}
{% set isOpen = isOpen ?? false %}

<div class="c-filter-section {{ isOpen ? 'is-open' }}">
    <div class="c-filter-section__heading">
        <h3 class="c-filter-section__title c-title">{{ title }}</h3>

        {% if isSelection %}
            <button class="c-filter__clear f-btn--link">Очистити</button>
        {% endif %}

        <button class="c-filter-section__toggle f-btn--link f-btn--overlay js-filter-section-toggle">
            <span class="sr-only">Перемикач фільтра</span>
            <i class="i-icon i-angle i-icon--right"></i>
        </button>
    </div>

    {% if isSelection %}
        <div class="c-filter-section__selection">
            {% include "../selection.twig" %}
        </div>
    {% endif %}

    <div class="c-filter-section__collapse">
        <div class="c-filter-section__inner l-box">
            <div class="c-filter-section__back">
                <button class="c-filter-section__back-toggle f-btn--link f-btn--overlay js-filter-section-toggle">
                    <i class="i-icon i-angle i-icon--left"></i>
                    {{ title }}
                </button>

                <button class="c-filter__close f-btn--link js-filter-close">
                    <span class="sr-only">Закрити</span>
                    <i class="i-icon i-close"></i>
                </button>
            </div>

            {% for i in 1..15 %}
                <div class="f-check">
                    <input id="filterCheckbox{{ index }}{{ i }}" name="filterCheckbox" type="checkbox" class="f-check-input" {{ (isSelection and i == 1) ? 'checked' }}>
                    <label for="filterCheckbox{{ index }}{{ i }}" class="f-check-label">
                        Чекбокс {{ i }} <span class="count">{{ random(5..20) }}</span>
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
